*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background: var(--secondary-color);
  color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.icon-accent,
.color-accent {
  color: var(--tertiary-color);
}

/* Navbar  */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  padding: 0.5rem 0;
}

.navbar.scrolled {
  background: var(--secondary-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 70px;
}

.navbar-logo img {
  height: 40px;
  width: auto;
  display: block;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navbar-items a {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.navbar-items a:hover {
  color: var(--tertiary-color);
}
.navbar-items a i {
  font-size: 1.2rem;
}
.navbar-items a i:hover {
  color: #fff;
}

/* Hero  */
.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 7rem 0;
}

.hero-flex {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero-image,
.hero-text {
  flex: 1;
}

.hero-text h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero-text p {
  font-size: 1.125rem;
  /* font-weight: 400; */
  line-height: 1.6;
  max-width: 42ch;
  margin-bottom: 2rem;
}

.hero-icon {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 2rem;
  margin-top: 2rem;
}

.hero-icon a {
  background: var(--tertiary-color);
  padding: 1rem 3rem;
  color: #fff;
  text-align: center;
  border-radius: 6rem;
}

.hero-icon a:hover {
  background: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
}

.hero-icon i,
.hero-icon svg {
  font-size: 2rem;
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.hero-icon li a {
  /* font-size: 1.5rem; */
}
.hero-icon .hero-image img {
  width: 100%;
  height: auto;
}
